<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>斗內阿shrimps們!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <div class="Donate">

   
    <h1><strong>歡迎來到斗內頁面</strong></h1>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <body onload="blinklink()" onunload="stoptimer()">
            <a type="button" class="btn btn-primary btn_show" href="javascript:;" rel="external nofollow" id="flashit"><strong>我的郵局帳號↓↓↓</strong></a>
            <p><strong>6666666 6666666</strong></p>
          </body> 
        </li>
      </ul>
    
    <script type = "text/javascript">
    
    
    var flashit=document.getElementById('flashit');
    function blinklink(){
    if(flashit.style.backgroundColor=='rgb(232, 83, 63)'){ //注意：這裡拿到的是rgb格式的
    flashit.style.backgroundColor='#485fbd';
    }else{
    flashit.style.backgroundColor='rgb(232, 83, 63)';
    }
    timer=setTimeout("blinklink()",300);
    }
    function stoptimer(){
    clearTimeout(timer);
    }

    </script>
  
</div>
    

</html>