<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>訂房系統</title>
    <style>
        .body1 {
            height: 600pt;
        }

        .ui {
            height: 550pt;
        }

        .btn_goMain{
        position: absolute;
        left: 420pt;
        top: 40pt;
        height: 40pt;
        width: 70pt;
        font-size: 15pt;
        background-color:cadetblue;
        transition: all 1s 0s ease;

      }
      .btn_goMain:hover{
        background-color: lemonchiffon;
      }


      .btn_goInfo{
        position: absolute;
        left: 520pt;
        top: 40pt;
        height: 40pt;
        width: 100pt;
        font-size: 15pt;
        background-color:cadetblue;
        transition: all 1s 0s ease;

      }
      .btn_goInfo:hover{
        background-color: lemonchiffon;
      }


      .btn_goDonate{
        position: absolute;
        left: 660pt;
        top: 40pt;
        height: 40pt;
        width: 100pt;
        font-size: 15pt;
        background-color:cadetblue;
        transition: all 1s 0s ease;

      }
      .btn_goDonate:hover{
        background-color: lemonchiffon;
      }

        .search_room {
            height: 50pt;
            width: 120pt;
            font-size: 15pt;
            position: relative;
            background-color: rgb(107, 13, 196);
            color: yellow;
            top: 30pt;
            border: 2pt solid;
            border-color: black;
            line-height: 41pt;
            transition: all 1s 0s ease;
        }

        .search_room:hover {
            background-color: rgb(18, 11, 61);
            color: gold;
        }

        .search_history {
            height: 50pt;
            width: 120pt;
            font-size: 15pt;
            position: relative;
            background-color: rgb(107, 13, 196);
            color: yellow;
            top: 50pt;
            border: 2pt solid;
            border-color: black;
            line-height: 41pt;
            transition: all 1s 0s ease;
        }

        .search_history:hover {
            background-color: rgb(18, 11, 61);
            color: gold;
        }

        .help {
            height: 50pt;
            width: 120pt;
            font-size: 15pt;
            position: relative;
            background-color: rgb(107, 13, 196);
            color: yellow;
            top: 70pt;
            border: 2pt solid;
            border-color: black;
            line-height: 41pt;
            transition: all 1s 0s ease;
        }

        .help:hover {
            background-color: rgb(18, 11, 61);
            color: gold;
        }

        .mr-3 {
            position: absolute;
            top: 15pt;
            left: 80pt;
        }

        .mr-4 {
            position: absolute;
            top: 15pt;
            left: 250pt;
        }

        .date_input {
            position: absolute;
            top: 43pt;
            left: 450pt;
        }

        .btn_search {
            position: absolute;
            top: 43pt;
            left: 660pt;
        }

        .w-100 {
            background-color: lavender;
        }

        .d_class {
            position: relative;
            top: 50pt;
            height: 350pt;
        }

        .class_table {
            position: relative;
            top: 50pt;
            background-color: lavender;
            border-color: black;

        }

        td {
            border: 3px solid;
            border-color: black;
        }

        tr {
            border: 3px solid;
            border-color: black;
        }

        th {
            border: 3px solid;
            border-color: black;
        }

        .reservation_search{
            position: relative;
            top: 70pt;
            left:350pt;
        }

        .btn_reservation{
            transition: all 1s 0s ease;
        }
        .btn_reservation:hover{
            background-color:yellow;
            color: black;
        }



        .if{
            position: absolute;
            top:200pt;
            left:90pt;
            height: 100pt;
            width: 200pt;
            background-color: white;
        }
        .testtest{
            background-color: black;
            height: 50pt;
            width: 80pt;
        }

        .occupied{
            background-color: red;
        }
    </style>
</head>

<body>
    <div class="container header">
        <h1>軟體工程訂房系統</h1>
        <ul class="nav justify-content-center">
        <li class="nav-item">
          <form action="/goMainPage/" method="post" name="goMain" id="goMain">
          {% csrf_token %}
          <a type="submit" class="btn btn-primary btn_goMain"  role="button"><strong>首頁</strong></a>
          </form>
        </li>
        <li class="nav-item">
          <form action="/goOurInfoPage/" method="post" name="goInfo" id="goInfo">
          {% csrf_token %}
          <a type="submit" class="btn btn-primary btn_goInfo"  role="button"><strong>關於我們</strong></a>
          </form>
        </li>
        <li class="nav-item">
           <form action="/goDonatePage/" method="post" name="goDonate" id="goDonate">
           {% csrf_token %}
          <a type="submit" class="btn btn-primary btn_goDonate"  role="button"><strong>斗內我們</strong></a>
          </form>
        </li>
      </ul>
    </div>

    <div class="container body1">


        <div class="container ui">
            <h2><strong>歡迎使用訂房系統</strong></h2>

            <nav class="navbar navbar-expand-lg navbar-light">


                <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->

            <form action="/search/" method="post" id="search" name="search">
                {% csrf_token %}
                <div class="nav-item mr-3">
                    <p style="vertical-align:top;"> 可容納人數上限 </p>
                    <input class="w-100" style="height: 35px;" id="capacity" name="capacity" placeholder="如:10, 25(人)"
                        value="">
                </div>

                <div class="nav-item mr-4">
                    <p style="vertical-align:top;"> 教室編號 </p>

                    <input class="w-100" style="height: 35px;" id="roomID" name="roomID" placeholder="如:1,2" value="">
                </div>

                <div class="date_input">
                    <input type="date" class="form-control" id="date" name="date" value="">
                </div>


                <div class="nav-item mt-2 ">
                    <a type="submit" class="btn btn-primary btn_search"  role="button">搜尋</a>
                </div>
                <!-- </div> -->
                </form>
            </nav>



            <div class="text-center d_class" style="overflow-x:auto;">
                <table class="table   class_table">
                    <thead>
                        <tr>
                            <th scope="col">教室ID</th>
                            <th scope="col">第一節</th>
                            <th scope="col">第二節</th>
                            <th scope="col">第三節</th>
                            <th scope="col">第四節</th>
                            <th scope="col">第五節</th>
                            <th scope="col">第六節</th>
                            <th scope="col">第七節</th>
                            <th scope="col">第八節</th>
                            <th scope="col">第九節</th>
                            <th scope="col">第十節</th>
                        </tr>
                    </thead>

                    <tbody class="first_table">
{#                    {% for i in stat %}#}
{#                        {{ i.roomID }}#}

                        {% if room1  >= 1 %}

                            <tr>
                                <th scope="row">1</th>
                                {% if occupied1.0 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied1.1 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied1.2 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied1.3 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied1.4 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied1.5 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied1.6 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied1.7 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied1.8 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied1.9 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}


                            </tr>
                        {% endif %}



                        {% if room2  >= 1 %}
                            <tr>
                                 <th scope="row">2</th>

                                {% if occupied2.0 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied2.1 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied2.2 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied2.3 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied2.4 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied2.5 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied2.6 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied2.7 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied2.8 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied2.9 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}


                            </tr>
                        {% endif %}

                         {% if room3  >= 1 %}
                            <tr>
                                <th scope="row">3</th>

                                {% if occupied3.0 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied3.1 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied3.2 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied3.3 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied3.4 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied3.5 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied3.6 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied3.7 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied3.8 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied3.9 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}


                            </tr>
                         {% endif %}

                          {% if room4  >= 1 %}
                            <tr>
                                <th scope="row">4</th>

                                {% if occupied4.0 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied4.1 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied4.2 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied4.3 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied4.4 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied4.5 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied4.6 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied4.7 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied4.8 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied4.9 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}


                            </tr>
                         {% endif %}

                         {% if room5  >= 1 %}
                            <tr>
                                <th scope="row">5</th>

                                {% if occupied5.0 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied5.1 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied5.2 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied5.3 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied5.4 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied5.5 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied5.6 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied5.7 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied5.8 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied5.9 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}


                            </tr>
                         {% endif %}

                        {% if room6  >= 1 %}
                            <tr>
                                <th scope="row">6</th>

                                {% if occupied6.0 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied6.1 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied6.2 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied6.3 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied6.4 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied6.5 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied6.6 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied6.7 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied6.8 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}
                                {% if occupied6.9 == 1 %}
                                    <td class="text-center align-middle" bgcolor="red"> </td>
                                {% else %}
                                    <td class="text-center align-middle"> </td>
                                {% endif %}

                            </tr>

                        {% endif %}
{#                    {% endfor %}#}

                    </tbody>

                </table>

            </div>

            <div class="nav-item mt-2 reservation_search">
                <form action="/goReservePage/" method="post" name="goReserve" id="goReserve">
                {% csrf_token %}
                <a type="submit" class="btn btn-primary btn_reservation" role="button"><strong>預約教室</strong></a>
                </form>

                <!--
                <button class="btn btn-primary btn_reservation" style="width: 150px;" type="submit">
                    預約教室
                </button>
                -->
            </div>


{#            <div class="if">#}
{#                {% for i in stat %}#}
{#                    {{ room1 }}#}
{##}
{##}
{##}
{##}
{#                {% endfor %}#}
{#            </div>#}

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            {#$(".first_table").hide();#}
            {#$(".all_table").hide();#}

            $(".btn_search").click(function () {

                const date = document.getElementById('date').value;
                const roomID = document.getElementById('roomID').value;
                // alert(room_id);
                if (date.length == 0) {
                    alert("請填寫日期")
                }
                else if (roomID.length == 0) {
                    {#$(".first_table").show();#}
                    {#$(".all_table").show();#}
                    document.getElementById('search').submit();
                }
                else {
                    if (roomID <= 0 || roomID > 6) {
                        alert("房間編號只能為1~6")
                    }
                    else {
                        {#$(".first_table").show();#}
                        {#$(".all_table").hide();#}
                        $(".btn_search").click(function(){
                            document.getElementById('search').submit();


                         })

                    }

                }
            })

            $(".btn_reservation").click(function(){
                document.getElementById('goReserve').submit();
               // window.location.href='reservation.html';

            })

            $(".btn_goMain").click(function(){
                    document.getElementById('goMain').submit();
            }
            )

             $(".btn_goInfo").click(function(){
                    document.getElementById('goInfo').submit();
            }
            )

             $(".btn_goDonate").click(function(){
                    document.getElementById('goDonate').submit();
            }
            )
        })


    </script>
    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}
</body>

</html>